<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme" rel="stylesheet" href="/css/light.css">
    <title>Signup Page</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="home_logo">
                <a href="/">QuizApp..</a>
            </div>
            <ul class="items">
                <li class="item">
                    <button class="toggle-button" onclick="toggleTheme()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm0 14c-3.313 0-6-2.687-6-6s2.687-6 6-6 6 2.687 6 6-2.687 6-6 6zM6 12c0-3.313 2.687-6 6-6v12c-3.313 0-6-2.687-6-6z"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </header>

        <div class="login">
            <form th:action="@{/signup}" method="post">
                <h1>Signup form</h1>
                <div th:if="${errorMessage}" class="error">
                    <span th:text="${errorMessage}"></span>
                </div>
                <div class="inputText">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" required />
                </div>
                <div class="inputText">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter email address" required/>
                </div>
                <div class="inputText">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" required/>
                </div>
                <button type="submit">Signup</button>
                <a class="link" href="login">Already have an account</a>
            </form>
        </div>
    </div>
    <footer>
        <p>QuizApp..</p>
    </footer>
    <script>
        function toggleTheme() {
            const currentTheme = document.getElementById('theme').getAttribute('href');
            const theme = currentTheme === '/css/light.css' ? '/css/dark.css' : '/css/light.css';
            document.getElementById('theme').setAttribute('href', theme);
            document.cookie = `theme=${theme}; expires=Fri, 31 Dec 9999 23:59:59 GMT`;
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        window.onload = function() {
            const theme = getCookie('theme');
            if (theme) {
                document.getElementById('theme').setAttribute('href', theme);
            }
        }
    </script>
</body>
</html>
